// General breakpoint desktop, tablet, mobile
@mixin breakpoint-desktop {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin breakpoint-tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin breakpoint-mobile {
  @media (max-width: 576px) {
    @content;
  }
}

// Breakpoints for every 100 px

@mixin breakpoint-1500 {
  @media (max-width: 1500px) {
    @content;
  }
}
@mixin breakpoint-1400 {
  @media (max-width: 1400px) {
    @content;
  }
}

@mixin breakpoint-1300 {
  @media (max-width: 1300px) {
    @content;
  }
}

@mixin breakpoint-1200 {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin breakpoint-1100 {
  @media (max-width: 1100px) {
    @content;
  }
}

@mixin breakpoint-1000 {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin breakpoint-900 {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin breakpoint-800 {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin breakpoint-700 {
  @media (max-width: 700px) {
    @content;
  }
}

@mixin breakpoint-600 {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin breakpoint-500 {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin breakpoint-450 {
  @media (max-width: 450px) {
    @content;
  }
}

@mixin breakpoint-400 {
  @media (max-width: 400px) {
    @content;
  }
}

@mixin breakpoint-300 {
  @media (max-width: 300px) {
    @content;
  }
}
