@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy-Regular.0f661f54.eot);
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url(../fonts/Gilroy-Regular.0f661f54.eot@) format("embedded-opentype"), url(../fonts/Gilroy-Regular.8e78c2c8.woff2) format("woff2"), url(../fonts/Gilroy-Regular.65aaefc7.woff) format("woff"), url(../fonts/Gilroy-Regular.4312cfe3.ttf) format("truetype");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy-Medium.4d976d50.eot);
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url(../fonts/Gilroy-Medium.4d976d50.eot@) format("embedded-opentype"), url(../fonts/Gilroy-Medium.ee68ee26.woff2) format("woff2"), url(../fonts/Gilroy-Medium.119e6666.woff) format("woff"), url(../fonts/Gilroy-Medium.216a2049.ttf) format("truetype");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy-Semibold.56d6a07e.eot);
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"), url(../fonts/Gilroy-Semibold.56d6a07e.eot@) format("embedded-opentype"), url(../fonts/Gilroy-Semibold.a009b007.woff2) format("woff2"), url(../fonts/Gilroy-Semibold.75bd5a29.woff) format("woff"), url(../fonts/Gilroy-Semibold.070077f0.ttf) format("truetype");
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy-Bold.0f6a9b59.eot);
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url(../fonts/Gilroy-Bold.0f6a9b59.eot@) format("embedded-opentype"), url(../fonts/Gilroy-Bold.8da03ac3.woff2) format("woff2"), url(../fonts/Gilroy-Bold.d27594f8.woff) format("woff"), url(../fonts/Gilroy-Bold.1b401dca.ttf) format("truetype");
  font-weight: 700;
  font-style: normal
}

