:root {

  --dark-blue-color: #04135b;
  --accent-blue-color: #0034ff;
  --light-blue-color: #4989ff;
  --transparent-blue-color: #0727a843;
  --white-color: #fff;
  --dark-color: #1a1a1a;
  
  --transition: 0.3s ease-in-out;

  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;
  --z-index-4: 4;
  --z-index-mobile-menu: 10;
  --z-index-burger-menu: 11;
}