.equipment {
  padding: 70px 0;
  background-color: var(--white-color);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;

  @include breakpoint-900 {
    padding: 45px 0;
  }

  @include breakpoint-700 {
    border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  }

  &__title {
    margin-bottom: 30px;
    @include breakpoint-900 {
      margin-bottom: 20px;
    }

    @include breakpoint-500 {
      text-align: center;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include breakpoint-1300 {
      gap: 15px;
    }

    @include breakpoint-1200 {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }

    @include breakpoint-1000 {
      gap: 15px;
    }

    @include breakpoint-800 {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__card {
    display: inline-block;
    padding: 15px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2);
    border-radius: 15px;
    max-width: 100%;

    &-image {
      margin-bottom: 15px;
      max-width: 100%;

      & img {
        width: 100%;
        border-radius: 10px;

        @include breakpoint-800 {
          height: 300px;
        }

        @include breakpoint-600 {
          height: 250px;
        }
      }
    }

    &-tab {
      margin-bottom: 15px;

      &-nav {
        display: flex;
        gap: 10px;

        @include breakpoint-400 {
          flex-direction: column;
        }

        &-button {
          @include flex-align-center;
          gap: 10px;
          padding: 10px 25px;
          border-radius: 10px;
          color: var(--dark-color);
          background-color: var(--light-white-color);
          cursor: pointer;
          transition: all var(--transition);

          @include breakpoint-1300 {
            @include flex-all-center;
            padding: 10px 0;
            width: 100%;
            font-size: 0.9em;
          }

          & svg path {
            stroke: var(--dark-color);
          }

          &.active {
            color: var(--white-color);
            background-color: var(--accent-blue-color);

            & svg path {
              stroke: var(--white-color);
            }
          }
        }
      }
    }

    &-general {
      color: var(--dark-color);
      display: none;
      transition: all var(--transition);

      &-name {
        margin-bottom: 20px;

        @include breakpoint-900 {
          margin-bottom: 10px;
        }
      }

      &-application {
        margin-bottom: 20px;

        @include breakpoint-900 {
          margin-bottom: 10px;
        }
      }

      &-label {
        margin-bottom: 10px;
      }

      &-item {
        color: var(--white-color);
        display: inline-block;
        padding: 5px 8px;
        background-color: var(--accent-blue-color);
        border-radius: 20px;
      }

      &-description {
        margin-bottom: 40px;

        @include breakpoint-1200 {
          margin-bottom: 25px;
        }
      }

      &-text {
        height: 150px;
        overflow-y: auto;

        @include breakpoint-900 {
          height: 120px;
        } 

        @include breakpoint-450 {
          height: 150px;
        }
      }

      &-button {
        padding: 15px 30px;
      }
    }

    &-characteristics {
      display: none;
      transition: all var(--transition);
      &-list {
        @include flex-column;
        gap: 7px;
      }

      &-item {
        @include flex-align-center;
        gap: 5px;
        font-size: 0.9em;

        &::before {
          content: '';
          min-width: 6px;
          min-height: 6px;
          background-color: var(--dark-color);
          display: inline-block;
          border-radius: 50%;
          opacity: 0.8;
        }
      }
    }

    &-characteristics.active, &-general.active {
      display: block;
      transition: all var(--transition);
    }
  }
}