.gallery {
  padding: 70px 0;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  &__card {
    max-width: 100%;
    padding: 10px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2);
    background-color: var(--white-color);
    border-radius: 15px;

    & img {
      width: 100%;
      box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2);
      border-radius: 15px;
    }

    &-last {
      @include flex-all-center;
    }

    &-link {
      font-size: 1.2em;
      color: var(--accent-blue-color);
      font-weight: 500;
    }
  }
}